@mixin MyFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

// @include MyFlex();
@font-face {
  font-family: "Befonts-License";
  src: url("../../Font/Befonts-License.txt");
}

@font-face {
  font-family: "readme-license";
  src: url("../../Font/readme-license.txt");
}

@font-face {
  font-family: "saturnest-wodo6";
  src: url("../../Font/saturnest-wodo6.ttf");
}

@font-face {
  font-family: "saturnestbold-2v3vo.ttf";
  src: url("../../Font/saturnestbold-2v3vo.ttf");
}

@font-face {
  font-family: "saturnestlight-vndn9";
  src: url("../../Font/saturnestlight-vndn9.ttf");
}

@font-face {
  font-family: "tan-mon-cheri";
  src: url("../../Font/tan-mon-cheri.ttf");
}

#gallery {
  background: #dfd8c9;
  padding: 50px;
  margin-top: 100px;
  position: relative;
  min-height: 80vh;

  .text1 {
    font-size: 200px;
    color: #00000099;
    font-family: "tan-mon-cheri";
    text-align: center;
  }

  .text2 {
    position: absolute;
    width: 100%;
    left: 0px;
    top: 200px;

    .card {
      margin: 0px 5px;
      height: 100%;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        aspect-ratio: 2/1.4;
      }
    }
    .splide__slide {
      height: 250px !important;
    }
    .splide.is-initialized,
    .splide.is-rendered {
      padding: 0px;
      height: 250px;
      visibility: visible;
    }
  }
}
@media only screen and (max-width: 1349px) {
  #gallery {
    .text1 {
      font-size: 100px;
    }
    .text2 {
      top: 130px;
    }
  }
}
@media only screen and (max-width: 731px) {
  #gallery {
    padding: 50px 10px;

    .text1 {
      font-size: 50px;
    }
    .text2 {
      top: 80px;
    }
  }
}
