@mixin MyFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// @include MyFlex();

@font-face {
  font-family: "Befonts-License";
  src: url("../../Font/Befonts-License.txt");
}
@font-face {
  font-family: "readme-license";
  src: url("../../Font/readme-license.txt");
}
@font-face {
  font-family: "saturnest-wodo6";
  src: url("../../Font/saturnest-wodo6.ttf");
}
@font-face {
  font-family: "saturnestbold-2v3vo.ttf";
  src: url("../../Font/saturnestbold-2v3vo.ttf");
}
@font-face {
  font-family: "saturnestlight-vndn9";
  src: url("../../Font/saturnestlight-vndn9.ttf");
}
@font-face {
  font-family: "tan-mon-cheri";
  src: url("../../Font/tan-mon-cheri.ttf");
}

nav {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding: 30px 40px;

  img {
    max-width: 60px;
  }

  .normalBox {
    list-style: none;
    @include MyFlex();
    font-family: "tan-mon-cheri";
    color: #dfd8c9;
    li {
      cursor: pointer;
    }
    gap: 20px;
  }

  .respNavbar {
    background: pink;
    height: 100vh;
    position: absolute;
    right: 0px;
    top: 145px;
  }
}
